h1.heading {
  font-size: 60px;
  text-align: center;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  margin-bottom: 10px;
}
p.heading.p__color {
  margin-bottom: 0;
  text-align: center;
  line-height: 1.2;
}
.skills__box {
  border-radius: 10px;
  width: 100%;
  background-color: #191919;
  padding: 55px;
  transition: 0.4s ease;
}

.skills__box:hover {
  transform: translateY(5px);
  background-image: linear-gradient(90deg, #99d100, #0ac50a);
}

.skills__box:hover .icon {
  color: black;
}

.skills__box:hover p.skills__text.p__color {
  color: black !important;
}

.icon {
  font-size: 54px;
  font-weight: 400;
  margin-bottom: 23px;
  display: inline-flex;
  color: #1db954;
}

@media only screen and (max-width: 1024) {
  .skills__box {
    padding: 32px;
  }
}
